
StockDataMakers/Library
StockDataMakers/obj
StockDataMakers/obj/Debug/Assembly-CSharp-Editor.csprojResolveAssemblyReference.cache
StockDataMakers/Assembly-CSharp-Editor.csproj
StockDataMakers/TempStockDataMakers/Assembly-CSharp-Editor.csproj
StockDataMakers/Assembly-CSharp-Editor.csproj
StockDataMakers/Temp/__Backupscenes/0.backup
StockDataMakers/Assembly-CSharp-Editor.csproj
StockDataMakers/Temp/UnityLockfile
StockDataMakers/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
*.csproj
StockDataMakers/StockDataMakers.userprefs
StockDataMakers/Temp
StockDataMakers/StockDataMakers.userprefs
StockDataMakers/StockDataMakers.userprefs
